#skills {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
  }
}

@media screen and (min-width: 768px) {
  .custom-width {
    width: calc(50% - 2rem) !important;
  }
}
