@media screen and (min-width: 768px) {
  #skills {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #ccc;
    }
  }
}
