.footer {
  width: 100vw;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  text-align: left;
  padding: 0.5em 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  font-size: 1rem;
}
.footer-connect {
  gap: 1.5em;
}
.footer-icon {
  margin-left: 0.5em;
  color: var(--primary-text-color);
  font-size: 1.2em;
  transition: color 0.2s;
}
.footer-icon:hover {
  color: var(--primary-color);
}
.footer-copyright span {
  height: 15px;
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
  .footer-connect {
    gap: 0.25em;
  }
}
