@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --p-primary-color: #00b8d6;
  --primary-dark-color: #009bb7;
  --secondary-color: #ff5821;
  --secondary-dark-color: #d83a0f;
  --white: #eceff4;
  --bg-color-light: #f3f3f3;
  --text-color-light: #222;
  --bg-color-dark: #222;
  --text-color-dark: #bdbdbd;
  --border-color: rgba(255, 255, 255, 0.15);
  --hover-color: rgba(255, 255, 255, 0.15);
  --mask-color: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;

  &.light {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }

  &.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }

  #root {
    height: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.p-inputtext {
  font-family: 'Fira Code', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  &::placeholder {
    font-family: 'Fira Code', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: inherit;
    opacity: 0.5;
  }
}
